---
layout: "default.liquid"
pagination:
  data: collections.posts
  size: 50
permalink: "/{% if pagination.pageNumber > 0 %}page{{ pagination.pageNumber | plus: 1 }}/{% endif %}"
eleventyComputed:
  title: "{{ site.title }}"
---
<h1>{{ title }}</h1>
<main class=posts>
{%- for post in pagination.items %}
  <div>
    <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d %b %Y" }}</time>
    <a href="{{ post.url }}">{{ post.data.title }}</a></div>
  </div>
{%- endfor %}
</main>
{% if pagination.href.next || pagination.href.previous -%}
<nav>
{%- if pagination.href.next %}
  <a href="{{ pagination.href.next }}">← Older posts</a>
  {% if page.url != pagination.href.first -%}
    •
  {%- endif %}
{% endif -%}
{%- if page.url != pagination.href.first %}
  <a href="/">Home</a>
{% endif -%}
{%- if pagination.href.previous %}
  •
  <a href="{{ pagination.href.previous }}">Newer posts →</a>
{% endif -%}
</nav>
{%- endif -%}
