---
permalink: "style.css"
---
:root {
  color-scheme: light dark;
  --background: #fefefe;
  --text: #444;
  --heading: #222;
  --dimtext: #666;
  --code-border: #ddd;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b2b2b;
    --text: #bbb;
    --heading: #ddd;
    --dimtext: #999;
    --code-border: #444;
  }
}

/* https://piccalil.li/blog/a-more-modern-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body {
  min-height: 100vh;
}
:target {
  scroll-margin-block: 5ex;
}

html, body {
  font-family: "Source Sans Pro", Roboto, "Droid Sans", Ubuntu, Helvetica, Arial, sans-serif;
  line-height: 1.8em;
  color: var(--text);
  background-color: var(--background);
}

body {
  max-width: 75ch;
  margin: 60px auto 0;
  padding: 0 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1em;
  color: var(--heading);
  font-weight: 700;
  text-wrap: balance;
}

main > * + * {
  margin-block-start: var(--flow-space, 1em);
}
:is(h1, h2, h3, h4, h5, h6, blockquote) {
  --flow-space: 1.5em;
}
:is(h1, h2, h3, h4, h5, h6) + * {
  --flow-space: 0.5em;
}

abbr {
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: .1em;
}

header, nav {
  text-align: center;
}

small {
  font-size: smaller;
}

footer {
  line-height: normal;
  margin-block-start: 3em;
}

header .pubdate {
  color: var(--dimtext);
}

.discuss {
  color: var(--dimtext);
  text-align: center;
  margin-block: 3em;
}
/* The DEV logo is transparent and doesn't render well on a dark background */
.discuss a {
  background: white;
}
.discuss img {
  vertical-align: middle;
}

code {
  font-family: 'DejaVu Sans Mono', 'Source Code Pro', 'Droid Sans Mono', 'Ubuntu Mono', monospace;
  font-size: .8125em;
}

pre {
  border: 1px solid var(--code-border);
  overflow-x: auto;
  padding: 1em;
  margin: 0;
  line-height: 1.5em;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}

figure {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
figure.highlight, figure details {
  text-align: initial;
}
figcaption {
  font-style: italic;
  text-wrap: balance;
}

q {
  quotes: "“" "”" "‘" "’";
  font-style: italic;
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

aside[role~=doc-pullquote] {
  font-size: 1.3em;
  font-weight: lighter;
  font-style: italic;
  text-align: end;
  text-wrap: balance;
  margin-inline-end: -.8ch;
  border-inline-end: .8ch solid;
  padding-inline-end: 1ch;
  padding-block: 1ex;
}

main.posts {
  display: table;
  border-spacing: 1em .8em;
  line-height: normal;
}
main.posts div {
  display: table-row;
}
main.posts time {
  display: table-cell;
  color: var(--dimtext);
  font-size: smaller;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main.posts a {
  display: table-cell;
}

/*
 * Syntax highlighting
 */
{% include "./node_modules/a11y-syntax-highlighting/dist/prism/a11y-light-on-light-dark-on-dark.css" %}
