---
permalink: "style.css"
---
/* https://andy-bell.co.uk/a-modern-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html:focus-within {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

html, body {
  font-family: "Source Sans Pro", Roboto, "Droid Sans", Ubuntu, Helvetica, Arial, sans-serif;
  line-height: 1.8em;
  color: #444;
  background-color: white;
}

body {
  max-width: 75ch;
  margin: 60px auto 0;
  padding: 0 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1em;
  color: #222;
  font-weight: 700;
  text-wrap: balance;
}

main > * + * {
  margin-block-start: var(--flow-space, 1em);
}
:is(h1, h2, h3, h4, h5, h6, blockquote) {
  --flow-space: 1.5em;
}
:is(h1, h2, h3, h4, h5, h6) + * {
  --flow-space: 0.5em;
}

abbr {
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: .1em;
}

header, nav {
  text-align: center;
}

small {
  font-size: smaller;
}

footer {
  line-height: normal;
}

.discuss {
  color: #999;
  text-align: center;
}

.discuss img {
  vertical-align: middle;
}

code {
  font-family: 'DejaVu Sans Mono', 'Source Code Pro', 'Droid Sans Mono', 'Ubuntu Mono', monospace;
}
/* pre[class*=language-] sets a font-size already, so set size as needed. */
:not(pre) > code {
  font-size: .8125em;
}
pre > code {
  font-size: .8125rem;
}

pre {
  background: #eef;
  border: 1px solid #ddd;
  overflow-x: auto;
  padding: 1em;
  margin: 0;
  line-height: 1.5em;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}

figure {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
figure.highlight {
  text-align: initial;
}

q {
  quotes: "“" "”" "‘" "’";
  font-style: italic;
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

main.posts {
  display: table;
  border-spacing: 1em .8em;
  line-height: normal;
}
main.posts div {
  display: table-row;
}
main.posts time {
  display: table-cell;
  color: #999;
  font-size: smaller;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main.posts a {
  display: table-cell;
}

/*
 * Syntax highlighting
 */
{% include "./node_modules/@jongwooo/prism-theme-github/themes/prism-github-default-light.min.css" %}
